# Dependency directories
node_modules/

# Mac OS X hidden files
__MACOSX/
.DS_Store

# Build artifacts
dist/
build/

# Other ignored files
public/assets/ui/new\ assets/__MACOSX/

# Ignore downloaded fonts and zip files extracted in place
public/assets/ui/new\ assets/Fonts:typography/
public/assets/fonts/Swell*
public/assets/fonts/Swell\ Braille.png
